html, body {
  margin: 30px;
  padding: 0;
  font-family: fantasy;
  font-size: 16px;
}

h3{
  background-color: rgb(246,170,0);
  position:absolute;
  top:350px;
  left: 815px;

}

#para1{
  background-color: rgb(201,254,221);
  width:600px;
  height: 600px;
}
#choices{
 background-color: rgb(255,255,255);
 width:750px;
 height:100px;

 position:absolute;
 left:70px;
 top:680px;
}
#image1{
  position: absolute;
  left:700px;
  top:70px;

  width: 480px;
  height: 400px;
}
#image2{
  position: absolute;
  left:700px;
  top:400px;

  width: 480px;
  height: 400px;
}
